/node_modules
/public/hot
/public/storage
/public/media/proposal/*
/public/media/catatanHarian/*
/public/media/pengesahan/*
/public/media/laporan-akhir/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar